/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	width: 100vw;
	height: 100vh;
	color: #d8d8d8;
	background: #181818;
	direction: ltr;
	text-align: left;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	/* margin: 1rem auto; */
}

#app {
	width: 50vw;
	margin: 1rem;
	background: #222;
	padding: 1rem 2rem;
	position: relative;
	border-radius: 20px;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
